@media (max-width: 1024px){
	.logo{
	padding:5% 0px 10%;
	}	
	.grid_menu{
		width:220px;
	}
}
@media (max-width: 768px){
	.logo{
	padding:28% 0px 20%;
		}	
}
@media (max-width: 650px){
	.logo {
    padding-top:4%;
    width: 200px;
	}
}

@media (max-width: 480px){
	.logo{
	padding:8% 0px 20%;
	width:200px;
	}	
}

@media (max-width: 350px){
	.logo {
    padding-top: 8%;
    width: 262px;
	padding-bottom:6%;
	}
	
}