.static_img img{
	width:100%;
}
.static_img{
	padding:5px;
	background:url(../images/header_bg.png);
}
.staticPage{
	background:#fff url(../images/header_bg.png);
	margin:4% 2% 2%;
	padding:3%;
	width: 88%;
}
.staticpage_content p{
	color:#333;
	font-size:14px;
	line-height:20px;
	text-align:justify;
	text-shadow:none;
}
.staticPageList .ui-btn{
	background:url(../images/list_bg.png) !important;
	border-color:#6D3619;
}
.staticPageList{
	
	margin:4% 2% 2%;
}
.staticPageList .ui-btn:hover,.staticPageList .ui-btn:focus,.staticPageList .ui-btn:active{
	background:#fff url(../images/list_bg.png) !important;
	box-shadow:none;
}
.staticPageList .ui-listview li a.ui-btn-active{
	color:#333;
	text-shadow:none;
	background:none;
	border-color:#ddd;
}
/* Social Media Page Setting Starts Here */
.social_media ul li{
	margin-bottom:5px;
}
.social_media .ui-listview > li.ui-first-child, .social_media .ui-listview > li.ui-first-child > a.ui-btn,.social_media .ui-listview > li.ui-last-child, .social_media .ui-listview > li.ui-last-child > a.ui-btn {
	border-radius:0px;
}

.staticPageList .ui-listview > li p br{
	display: none;
}
/* Social Media Page Setting Ends Here */

/* page list setting */
.staticPageList li > p  {
	display:none;
}